*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 10px;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}
form>.dataInput, form>.description{
    padding: .5em;
    gap: .5rem;
    font-size:1.5rem;
    width: 100%;
}
form>p, form>.submit{
    font-size: 2rem;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.colorWrapper{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.checkbox{
    width: clamp(60px, 10vw, 80px);
    height: clamp(60px, 10vw, 80px);
}
.green{
    background-color: #A0DA41;
}
.blue{
    background-color: #6EADE8;
}
.red{
    background-color: #E85555;
}
.yellow{
    background-color: #E7D856;
}
.checkBoxShadow{
    box-shadow: inset 0 0 1.5rem rgba(0,0,0,0.5);
}
.switch{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}
.bar{
    width: 15rem;
    background-color: #ccc;
    height: 6rem;
    border-radius: 30px;
    padding: 0.4rem;
    position: relative;
    transition: .5s;
}
.slider{
    content: '';
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    background-color: white;
    transition: .5s;
    position: absolute;
    left: .5rem;
}
main{
    display: flex;
    gap: 3rem;
    flex-flow: wrap;
    place-items: center;
    justify-content: center;
}
.singleTask{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.3)
}
.taskHeader>h3, .taskHeader>h4{
    margin: 0px;
}
.taskHeader{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
}
@media(min-width: 600px){
    body{
        display: flex;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .dataInput, .colorWrapper, .submit{
        margin: 3rem;
    }
}